USE [master]
GO
/****** Object:  Database [elTrebol]    Script Date: 01/08/2016 16:24:58 ******/
CREATE DATABASE [elTrebol]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'elTrebol', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\elTrebol.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'elTrebol_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\elTrebol_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [elTrebol].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [elTrebol]
GO
/****** Object:  Table [dbo].[Avatar]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Avatar](
	[id_avatar] [int] IDENTITY(1,1) NOT NULL,
	[avatar] [varchar](300) NULL,
 CONSTRAINT [pk_avatar] PRIMARY KEY CLUSTERED 
(
	[id_avatar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comentario]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comentario](
	[id_comentario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[apellido] [varchar](30) NOT NULL,
	[mail] [varchar](30) NOT NULL,
	[telefono] [bigint] NOT NULL,
	[celular] [bigint] NOT NULL,
	[fecha_pregunta] [datetime] NOT NULL,
	[comentario] [varchar](500) NOT NULL,
	[fecha_respuesta] [datetime] NULL,
	[respuesta] [varchar](max) NULL,
	[id_publicacion] [int] NULL,
	[id_usuario] [int] NULL,
 CONSTRAINT [pk_comentario] PRIMARY KEY CLUSTERED 
(
	[id_comentario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departamento]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departamento](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idProvincia] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Departamento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Estado]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [pk_estado] PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FormaPago]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FormaPago](
	[id_formaPago] [int] IDENTITY(1,1) NOT NULL,
	[formaPago] [varchar](30) NOT NULL,
 CONSTRAINT [pk_formaPago] PRIMARY KEY CLUSTERED 
(
	[id_formaPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Foto]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Foto](
	[id_foto] [int] IDENTITY(1,1) NOT NULL,
	[foto] [varchar](100) NULL,
 CONSTRAINT [pk_foto] PRIMARY KEY CLUSTERED 
(
	[id_foto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idDepartamento] [int] NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
 CONSTRAINT [pk_idProducto] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](250) NOT NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Publicacion]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Publicacion](
	[id_publicacion] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](70) NOT NULL,
	[fotos] [varchar](max) NOT NULL,
	[precio] [money] NULL,
	[descripcion] [varchar](1000) NOT NULL,
	[barrio] [varchar](150) NOT NULL,
	[fecha_publicacion] [datetime] NOT NULL,
	[fecha_baja] [datetime] NULL,
	[motivo_baja] [varchar](300) NULL,
	[votantes] [int] NULL,
	[valoracion] [decimal](20, 2) NULL,
	[id_producto] [int] NULL,
	[id_estado] [int] NULL,
	[id_formaPago] [int] NULL,
	[id_tipoNegocio] [int] NULL,
	[id_admin] [int] NULL,
	[id_localidad] [int] NULL,
 CONSTRAINT [pk_publicacion] PRIMARY KEY CLUSTERED 
(
	[id_publicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rules]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rules](
	[id_rules] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
 CONSTRAINT [pk_rule] PRIMARY KEY CLUSTERED 
(
	[id_rules] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoNegocio]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoNegocio](
	[id_tipoNegocio] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
 CONSTRAINT [pk_tipoNegocio] PRIMARY KEY CLUSTERED 
(
	[id_tipoNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[pass] [varchar](64) NOT NULL,
	[telefono] [bigint] NOT NULL,
	[id_avatar] [int] NULL,
	[id_rules] [int] NOT NULL,
	[id_foto] [int] NULL,
 CONSTRAINT [pk_usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Avatar] ON 

INSERT [dbo].[Avatar] ([id_avatar], [avatar]) VALUES (1, N'avatar1.png')
INSERT [dbo].[Avatar] ([id_avatar], [avatar]) VALUES (2, N'avatar2.png')
INSERT [dbo].[Avatar] ([id_avatar], [avatar]) VALUES (3, N'avatar3.png')
SET IDENTITY_INSERT [dbo].[Avatar] OFF
SET IDENTITY_INSERT [dbo].[Comentario] ON 

SET IDENTITY_INSERT [dbo].[Comentario] OFF
SET IDENTITY_INSERT [dbo].[Departamento] ON 

INSERT [dbo].[Departamento] ([ID], [idProvincia], [Nombre]) VALUES (1, 1, N'AZUL')
INSERT [dbo].[Departamento] ([ID], [idProvincia], [Nombre]) VALUES (2, 1, N'PUAN')
INSERT [dbo].[Departamento] ([ID], [idProvincia], [Nombre]) VALUES (3, 1, N'LA MATANZA')
GO
SET IDENTITY_INSERT [dbo].[Departamento] OFF
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([id_estado], [estado]) VALUES (1, N'Publicado')
INSERT [dbo].[Estado] ([id_estado], [estado]) VALUES (2, N'Borrador')
SET IDENTITY_INSERT [dbo].[Estado] OFF
SET IDENTITY_INSERT [dbo].[FormaPago] ON 

INSERT [dbo].[FormaPago] ([id_formaPago], [formaPago]) VALUES (1, N'Contado')
INSERT [dbo].[FormaPago] ([id_formaPago], [formaPago]) VALUES (2, N'Cuotas')
INSERT [dbo].[FormaPago] ([id_formaPago], [formaPago]) VALUES (3, N'Tarjetas')
SET IDENTITY_INSERT [dbo].[FormaPago] OFF
SET IDENTITY_INSERT [dbo].[Foto] ON 

INSERT [dbo].[Foto] ([id_foto], [foto]) VALUES (1, N'diego - grande.jpg')
SET IDENTITY_INSERT [dbo].[Foto] OFF
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([ID], [idDepartamento], [Nombre]) VALUES (1, 1, N'16 DE JULIO')
INSERT [dbo].[Localidad] ([ID], [idDepartamento], [Nombre]) VALUES (2, 2, N'17 DE AGOSTO')
INSERT [dbo].[Localidad] ([ID], [idDepartamento], [Nombre]) VALUES (3, 3, N'20 DE JUNIO')
GO
SET IDENTITY_INSERT [dbo].[Localidad] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([id_producto], [nombre]) VALUES (1, N'Casa')
INSERT [dbo].[Producto] ([id_producto], [nombre]) VALUES (2, N'Departamento')
INSERT [dbo].[Producto] ([id_producto], [nombre]) VALUES (3, N'Galpón')
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([ID], [Nombre]) VALUES (1, N'BUENOS AIRES')
INSERT [dbo].[Provincia] ([ID], [Nombre]) VALUES (2, N'CATAMARCA')
INSERT [dbo].[Provincia] ([ID], [Nombre]) VALUES (3, N'CHACO')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET IDENTITY_INSERT [dbo].[Publicacion] ON 

SET IDENTITY_INSERT [dbo].[Publicacion] OFF
SET IDENTITY_INSERT [dbo].[Rules] ON 

INSERT [dbo].[Rules] ([id_rules], [nombre]) VALUES (1, N'SuperAdmin')
INSERT [dbo].[Rules] ([id_rules], [nombre]) VALUES (2, N'Admin')
SET IDENTITY_INSERT [dbo].[Rules] OFF
SET IDENTITY_INSERT [dbo].[TipoNegocio] ON 

INSERT [dbo].[TipoNegocio] ([id_tipoNegocio], [tipo]) VALUES (1, N'Venta')
INSERT [dbo].[TipoNegocio] ([id_tipoNegocio], [tipo]) VALUES (2, N'Alquiler')
INSERT [dbo].[TipoNegocio] ([id_tipoNegocio], [tipo]) VALUES (3, N'Permuta')
SET IDENTITY_INSERT [dbo].[TipoNegocio] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([id_usuario], [username], [nombre], [apellido], [mail], [pass], [telefono], [id_avatar], [id_rules], [id_foto]) VALUES (1, N'admin', N'admin', N'admin', N'admin@admin.com.ar', N'46F0171062009759FC8D1178CB0D7D6FFC12BDFEA2D98D7B6B8545E2C0FFEFFA', 0, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [fk_publicacion] FOREIGN KEY([id_publicacion])
REFERENCES [dbo].[Publicacion] ([id_publicacion])
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [fk_publicacion]
GO
ALTER TABLE [dbo].[Comentario]  WITH CHECK ADD  CONSTRAINT [fk_usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Comentario] CHECK CONSTRAINT [fk_usuario]
GO
ALTER TABLE [dbo].[Departamento]  WITH CHECK ADD  CONSTRAINT [FK_Provincia] FOREIGN KEY([idProvincia])
REFERENCES [dbo].[Provincia] ([ID])
GO
ALTER TABLE [dbo].[Departamento] CHECK CONSTRAINT [FK_Provincia]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Departamento] FOREIGN KEY([idDepartamento])
REFERENCES [dbo].[Departamento] ([ID])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Departamento]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [fk_estado] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado] ([id_estado])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [fk_estado]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [fk_FormaPago] FOREIGN KEY([id_formaPago])
REFERENCES [dbo].[FormaPago] ([id_formaPago])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [fk_FormaPago]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [fk_localidad] FOREIGN KEY([id_localidad])
REFERENCES [dbo].[Localidad] ([ID])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [fk_localidad]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [fk_producto] FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [fk_producto]
GO
ALTER TABLE [dbo].[Publicacion]  WITH CHECK ADD  CONSTRAINT [fk_tipoNegocio] FOREIGN KEY([id_tipoNegocio])
REFERENCES [dbo].[TipoNegocio] ([id_tipoNegocio])
GO
ALTER TABLE [dbo].[Publicacion] CHECK CONSTRAINT [fk_tipoNegocio]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_avatar] FOREIGN KEY([id_avatar])
REFERENCES [dbo].[Avatar] ([id_avatar])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_avatar]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_foto] FOREIGN KEY([id_foto])
REFERENCES [dbo].[Foto] ([id_foto])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_foto]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [fk_rule] FOREIGN KEY([id_rules])
REFERENCES [dbo].[Rules] ([id_rules])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [fk_rule]
GO
/****** Object:  StoredProcedure [dbo].[paginacion_antiguosPrimero]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Las publicaciones más antiguas se muestran priemro
CREATE procedure [dbo].[paginacion_antiguosPrimero]
@indice int = 1,
@cantidad decimal(20,2) = 9,
@total int = 0 OUTPUT
as
set @total = ceiling((select count(1) from Publicacion where fecha_baja is null) / @cantidad)
select * from (select ROW_NUMBER() over(order by id_publicacion asc) idFilas, * from Publicacion) Publicacion where (idFilas between (@cantidad * (@indice - 1) + 1) and (@cantidad * @indice)) and (id_estado = 1) and (fecha_baja is null);
GO
/****** Object:  StoredProcedure [dbo].[paginacion_nuevosPrimero]    Script Date: 01/08/2016 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[paginacion_nuevosPrimero]
@indice int = 1,
@cantidad decimal(20,2) = 9,
@total int = 0 OUTPUT
as
set @total = ceiling((select count(1) from Publicacion where fecha_baja is null) / @cantidad)
select * from (select ROW_NUMBER() over(order by id_publicacion desc) idFilas, * from Publicacion) Publicacion where (idFilas between (@cantidad * (@indice - 1) + 1) and (@cantidad * @indice)) and (id_estado = 1) and (fecha_baja is null);

GO
USE [master]
GO
