/*
    colores
*/
@gris: #9f9f9f;
@blanco: #ffffff;

/*
    Clases
*/
.element-inline-block {
    display: inline-block;
}

/*
    Estilos de la pagina
*/
body {
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Patua One', cursive;
    }

    p, ul, ol, li, table, tr, th, td, span {
        font-family: 'Michroma', sans-serif;
    }

    a, button {
        font-family: 'Allerta Stencil', sans-serif;
    }

    .container-fluid {
        #header_admin {
            min-height: 45px;
            max-height: 55px;

            div {
                nav {
                    div {
                        div.navbar-header {
                            a {
                                .logo-chico {
                                    display: inline-block;
                                    width: 20%;
                                    background-color: @blanco;
                                    position: relative;
                                    top: -5px;
                                }
                            }
                        }
                        div {
                            ul.nav {
                                li {
                                    a.user-menu {
                                        padding: 5px;

                                        img {
                                            display: inline-block;
                                            width: 40px;
                                            height: 40px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        div.row{
            #menu_lateral_admin {
                background-color: lighten(@gris, 27%);
                min-height: 855px;
                color: #ffffff;
                padding-top: 25px;
                box-shadow: 2px -3px 10px lighten(@gris, 17%);

                h3 {
                    margin-bottom: 20px;
                }
            }

            #content_admin {
                padding-top: 15px;

                div.row {
                    div {
                        form{
                            table {
                                tbody {
                                    tr{
                                        td{
                                            img {
                                                width: 20%;
                                                height: 80px;
                                            }
                                        }
                                    }
                                }
                            }
                            div.row {
                                div {
                                    div{
                                        div.clonar-inputs-fotos {
                                            position: absolute;
                                            width: 30px;

                                            button {
                                                opacity: 0.35;
                                                margin: 1px;
                                            }

                                            button:hover {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                table {
                    tbody {
                        tr {
                            td {
                                a.btn {
                                    margin-right: 5px;
                                }
                                img.img-back-user {
                                    width: 22%;
                                    display: inline-block;
                                    z-index: 100;
                                }
                            }
                        }
                    }
                }
            }

            #notificaciones_admin {}
        }

        #footer_admin {
            margin-top: 20px;
            background-color: lighten(@gris, 27%);
            min-height: 120px;
            max-height: 150px;
        }
    }
}
