<div id="ver_cerrados" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title ver-cerrados-tt"></h4>
            </div>
            <div class="modal-body">
                <h4>Detalles: </h4>
                <table class="table table-striped">
                    <tr>
                        <th scope="row">Nombre: </th>
                        <td id="nom"></td>
                    </tr>
                    <tr>
                        <th scope="row">Mail: </th>
                        <td id="mail"></td>
                    </tr>
                    <tr>
                        <th scope="row">Teléfono: </th>
                        <td id="phone"></td>
                    </tr>
                    <tr>
                        <th scope="row">Celular: </th>
                        <td id="cel"></td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha del comentario: </th>
                        <td id="fecha_com"></td>
                    </tr>
                    <tr>
                        <th scope="row">Comentario: </th>
                        <td id="com"></td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha de respuesta: </th>
                        <td id="fecha_resp"></td>
                    </tr>
                    <tr>
                        <th scope="row">Respuesta: </th>
                        <td id="resp"></td>
                    </tr>
                </table>
                <hr />
                <form id="frm_actualizar_respuesta" name="frm_actualizar_respuesta" class="hidden">
                    <div class="form-group">
                        <label for="respuesta" class="sr-only"><i class="fa fa-commenting-o" aria-hidden="true"></i> Respuesta: </label>
                        <div class="input-group">
                            <div class="input-group-addon">Respuesta:<br /><i class="fa fa-commenting-o" aria-hidden="true"></i></div>
                            @Html.TextArea("respuesta", new { @class = "form-control", maxlength = "500", rows = "7", placeholder = "Ingrese una breve respuesta de lo hablado, pactado o informado a la persona que realizó el comentario.\nUtiliceló para recordar más adelante el acuerdo al que se llegó o lo que se informó.\nPuede cerrarlo sin cargar una respuesta." })
                        </div>
                        <div class="text-right">
                            <small class="text-info">Quedan <span id="cant_char"></span> caracteres sin usar.</small>
                        </div>
                    </div>
                    @Html.Hidden("id_comentario", "")
                    @Html.Hidden("id_usuario", "")
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="btn_cerrar_comentario" type="button" class="btn btn-warning">&iquest;Actualizar? <i class="fa fa-refresh" aria-hidden="true"></i></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->