<div id="confirmar_eliminar" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title confirmar-eliminar"></h4>
            </div>
            <div class="modal-body">
                <p>Si realmente desea eliminar este comentario, por favor confirme la acci&oacute;n.</p>
                <form>
                    @Html.Hidden("id_eliminar", "")
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button id="eliminar_permanentemente" type="button" class="btn btn-danger">S&iacute;, eliminar <i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->