<div id="alert_product" class="alert alert-dismissible hidden" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong id="texto_alert_product"></strong>
</div> 