@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
    <h1>Usuarios activos</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Titulo</th>
                <th scope="col">Producto</th>
                <th scope="col">Tipo de Negocio</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button class="btn btn-info">Ver</button>&nbsp;
                    <button class="btn btn-warning">Estado</button>&nbsp;
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="6" class="text-right">Productos el Trebol.</td>
            </tr>
        </tfoot>
    </table>
</div>
